.appearEffect-enter {
  opacity: 0;
  transform: translateY(3rem);
}
.appearEffect-enter-active {
  opacity: 1;
  transform: translateY(0rem);
  transition: opacity 1000ms, transform 1000ms ease;
}
.appearEffect-exit {
  opacity: 1;
}
.appearEffect-exit-active {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 1000ms, opacity 900ms ease;
}
