.appearEffect-enter {
  opacity: 0;
  transform: translateY(3rem);
}
.appearEffect-enter-active {
  opacity: 1;
  transform: translateY(0rem);
  transition: opacity 500ms, transform 500ms ease;
}
.appearEffect-exit {
  opacity: 1;
}
.appearEffect-exit-active {
  opacity: 0;
  transform: translateY(3rem);
  transition: transform 500ms, opacity 400ms ease;
}
