.magic {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @include center;
  background: radial-gradient($background, #ffffff);
}

.container {
  height: 100vh;
  width: 100vw;
}

.shrink-container {
  animation: shrink-container 2s;
  animation-fill-mode: forwards;
}

:root {
  --scaleX: 0.2;
  --scaleY: 0.2;
}

@keyframes shrink-container {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(var(--scaleX), var(--scaleY));
  }
  70% {
    transform: scale(var(--scaleX), var(--scaleY));
  }
  100% {
    transform: scale(1, 1);
  }
}
