$tilePadding: 1rem;
$tileGridHeight: calc(100% - 2 * #{$tilePadding});

.tile {
  perspective: 1500px;
  position: relative;
  border-radius: 0.5rem;

  @for $i from 1 through 9 {
    $no: random(2);
    $deg: random(2);

    &--#{$i} {
      @include ranEff($no, $deg);
    }
  }

  &__side {
    transition: all 1.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: $tilePadding;

    &--front {
      &__img {
        object-fit: contain;
        object-position: top;
        width: 100%;
        height: 100%;

        @include respond(tab-port) {
          grid-area: image;
        }
      }

      @include respond(tab-port) {
        display: grid;
        grid-template-areas:
          "image"
          "links";
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;

        &__link {
          grid-area: links;
          align-self: end;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          // background-color: white;
        }
      }
    }

    &--back {
      display: grid;
      grid-template-areas:
        "one two"
        "three three";
      grid-template-columns: 70% 30%;
      grid-template-rows: minmax(60%, 100%) minmax(min-content, 40%);

      padding: 1px;

      @include respond(tab-port) {
        grid-template-areas:
          "description"
          "technologies";
        grid-template-columns: 100%;
        // grid-template-rows: minmax(40%, 80%) min-content;
        font-size: 1.1rem;
      }

      &-description {
        // background-color: white;
        object-fit: contain;
        padding: 5%;
        font-size: 0.6rem;
        line-height: 0.8rem;
        color: white;
        text-align: justify;

        & > span {
          display: inline-block;
          margin-bottom: 0.5rem;
        }

        @include respond(big-desktop) {
          font-size: 0.7rem;
          line-height: 0.9rem;
        }
      }

      &-container {
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        grid-area: three;
        background-color: rgba(white, 1);
        padding: 0.5rem 0.5rem 0 0.5rem;
      }

      &__techIco {
        // width: 30%;
        height: 1.2rem;
        object-fit: scale-down;
        object-position: top;

        &:not(:last-child) {
          margin: 0 0.5rem 0.5rem 0;
        }

        &:last-child {
          margin: 0 0 0.5rem 0;
        }

        @include respond(big-desktop) {
          height: 1.5rem;
        }
      }

      @include respond(tab-port) {
        &-description {
          grid-area: description;
          font-size: 0.8rem;
          line-height: 1rem;
        }

        &__techIco {
          // width: 30%;
          height: 2rem;
          margin: 0 0.8rem 0.8rem 0;
        }

        &-container {
          grid-area: technologies;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          height: auto;
          padding: 0.8rem 0.8rem 0 0.8rem;
          position: absolute;
          bottom: 1px;
          left: 1px;
          right: 1px;
        }
      }

      &__link {
        grid-area: two;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // background-color: white;

        @include respond(tab-port) {
          grid-area: buttons;
          flex-direction: row;
        }
      }
    }
  }
}

@for $i from 1 through 9 {
  $n: random(6);

  .tile--#{$i} {
    & .tile__side--front,
    & .tile__side--back {
      background-color: nth($colors, $n);

      &__heading {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: right;
        // color: white;
        color: nth($colors, $n);
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 100%;

        @include respond(tab-port) {
          top: 0%;
        }
      }

      &__heading-span {
        padding: 2% 2% 2% 2%;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-color: rgba(white, 0.8);
      }
    }
  }
}
