@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveOutBottom {
  0% {
    opacity: 1;
    transform: translate(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

@keyframes gradientAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
