*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  background-color: black;
}

///////////////////////////////////////
///////////    COLOURS    /////////////
///////////////////////////////////////

$darkBlue: #4e5fab;
$blue: #00a6ce;
$grassGreen: #95d600;
$darkGreen: #00b188;
$red: #d41b5d;
$purple: #9f26b5;
$background: #eaf1f8;

$colors: #9f26b5 #00b188 #00a6ce #95d600 #d41b5d #4e5fab;

$height: 100vh;
$base: 100vw;
