*,
*:before,
*:after {
  box-sizing: border-box;
  transition: background-color 0.4s ease, color 0.4s ease, fill 0.4s ease,
    border 0.4s ease;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.7;
  background-color: var(--background);
}

html {
  /*  In media query, if more than one query applies, then the last one will apply
      For instance, tablet with 1050px width, triggers less than 1200 query
      Tablet whose width is 850px triggers less than 900px query
      Phone with 580px width, triggers less than 600px, 900px and 1200px queries, so which gets chosen by the browser? It actually looks at which query is last and applies that
      Therefore, if you want the browser to correctly apply breakpoints & corresponding media queries, given max-width properties are used, order queries here from largest to smallest
  */

  //  This defines what 1 REM is
  font-size: 62.5%;

  @include respond(desktop) {
    font-size: 100%;
  }

  @include respond(big-desktop) {
    font-size: 125%;
  }

  @include respond(tab-land) {
    font-size: 87.5%;
  }

  @include respond(tab-port) {
    font-size: 87.5%;
  }

  // @include respond(tablet) {
  //   font-size: 75%;
  // }

  @include respond(phone-land) {
    font-size: 81.25%;
  }

  @include respond(phone-land-small) {
    font-size: 68.75%;
  }

  @include respond(phone) {
    font-size: 75%;
  }

  @include respond(normal-phone) {
    font-size: 62.5%;
  }

  @include respond(small-phone) {
    font-size: 56.25%;
  }
}

///////////////////////////////////////
///////////    COLOURS    /////////////
///////////////////////////////////////

:root {
  --background: #fff;
  --backgroundAccent: #eaf1fb;
  --lightGray: #a0a0a0;
  --normalFont: #000;
}

[data-theme="dark"] {
  --background: #16171b;
  --backgroundAccent: #202125;
  --lightGray: #a0a0a0;
  --normalFont: #ffffff;
}

$darkBlue: #4e5fab;
$blue: #00a6ce;
$grassGreen: #95d600;
$darkGreen: #00b188;
$red: #d41b5d;
$purple: #9f26b5;
$background: #eaf1f8;
$lightgray: #a0a0a0;

$colors: #9f26b5 #00b188 #00a6ce #95d600 #d41b5d #4e5fab;

//////////////////////////////////////
///////////    SHADOW    /////////////
//////////////////////////////////////

$box-shadow: 0 1rem 2rem rgba(black, 0.1);
$box-shadow-pressed: 0 0.5rem 1rem rgba(black, 0.1);

//////////////////////////////////////
///////////    SIZING    /////////////
//////////////////////////////////////

:root {
  --vh: 100vh;
}

$height: 100vh;
$base: 100vw;

//////////////////////////////////////
///////////   DARK MODE  /////////////
//////////////////////////////////////

$darkBackground: #16171b;
$darkBGAccent: #202125;
$darkFont: #ffffff;
$darkTurquoise: #25d9c6;
$darkIntenseGreen: #01b075;
$darkPurple: #6221ea;
$darkRed: #fe4838;
