$transZ: 50vw;
$transZvh: 50vh;
@mixin transp($axis, $rotate) {
  @if $axis==x {
    transform: rotateX($rotate) translateZ($transZ);
  } @else if $axis==z {
    transform: rotateX($rotate) translateZ($transZvh);
  } @else {
    transform: rotateY($rotate) translateZ($transZ);
  }
}

// RANDOM FLIP EFFECT SETUP

@mixin ranEff($index, $deg) {
  $rD: rotateX rotateY;
  $rDeg: (
    ("(180deg)", "(-180deg)", "(0deg)"),
    ("(-180deg)", "(180deg)", "(0deg)")
  );

  & .tile__side--back {
    transform: nth($rD, $index) + nth(nth($rDeg, $deg), 1);
  }
  &:hover .tile__side--front {
    transform: nth($rD, $index) + nth(nth($rDeg, $deg), 2);
    transition: all 1s cubic-bezier(0.62, -0.42, 0.36, 0.99);
  }
  &:hover .tile__side--back {
    transform: nth($rD, $index) + nth(nth($rDeg, $deg), 3);
    transition: all 1s cubic-bezier(0.62, -0.42, 0.36, 0.99);
  }
}

// END RANDOM FLIP EFFECT SETUP

// CENTER OF THE PAGE

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin easeIn {
  animation: moveInBottom 1s ease;
}

@mixin easeOut {
  animation: moveOutBottom 1s ease;
}
