.arrow {
  height: 8rem;
  width: 4rem;
  text-decoration: none;
  background: none;
  border: none;
  z-index: 1000;
  cursor: pointer;

  &.previous,
  &.next {
    position: absolute;
    top: 50%;

    &:focus {
      outline: none;
    }
  }

  &.previous {
    left: 12%;
    transform: translateY(-50%) rotateZ(-180deg);
    // margin: 0 -2rem 0 0;

    @include respond(phone) {
      left: 2%;
    }
  }

  &.next {
    right: 12%;
    // margin: 0 0 0 -2rem;
    transform: translateY(-50%);

    @include respond(phone) {
      right: 2%;
    }
  }

  &::before,
  &::after {
    width: 4rem;
    height: 2px;
    background-color: black;
    display: inline-block;
    content: "";
  }

  &::before {
    transform: translateY(-0.62rem) rotateZ(45deg);
  }

  &::after {
    transform: translateY(0.62rem) rotateZ(-45deg);
  }
}
