.PM {
  width: 100%;
  height: 100%;
  @include center-flex;
}

.carousel {
  height: 70%;
  width: 70%;
  overflow: hidden;

  &.mobile-version {
    height: 100%;
    width: 100%;
  }

  &--inner-container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
}

.carouselPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $background;
  display: grid;
  grid-template-areas: "flag content";
  grid-template-columns: 20% 80%;

  &__flag {
    grid-area: flag;
    $n: random(5);
    background-color: nth($colors, $n);
    @include center-flex;

    & > h1 {
      transform: rotate(-90deg);
      white-space: nowrap;
      font-size: 4rem;
      margin: 0;
      color: white;
      line-height: 1;
    }
  }

  &__content {
    grid-area: content;
    display: grid;
    grid-template-areas:
      "header"
      "description";
    grid-template-rows: 30% 70%;
  }

  &__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      & div:nth-child(1) {
        font-size: 1rem;
      }

      & div:nth-child(2) {
        font-size: 0.7rem;
      }
    }
  }

  &__main {
    padding: 2rem;
  }
}

/////////////////////////////
///////// CAROUSEL ANIMATIONS
/////////////////////////////

.carousel--inner-container.next .node {
  &-enter {
    transform: translateX(100%);

    &-active {
      transform: translateX(0);
      transition: transform 1000ms ease-in-out;
    }
  }

  &-exit {
    transform: translateX(0);

    &-active {
      transform: translateX(-100%);
      transition: transform 1000ms ease-in-out;
    }
  }
}

.carousel--inner-container.previous .node {
  &-enter {
    transform: translateX(-100%);

    &-active {
      transform: translateX(0);
      transition: transform 1000ms ease;
    }
  }

  &-exit {
    transform: translateX(0);

    &-active {
      transform: translateX(100%);
      transition: transform 1000ms ease;
    }
  }
}
