.PM {
  width: 100%;
  height: 100%;
  @include center-flex;
}

.carousel {
  height: 80%;
  width: 90%;
  // margin-top: -20%;
  overflow: hidden !important;
  position: relative;

  &.mobile-version {
    margin-top: 0%;
    height: 100%;
    width: 100%;
  }

  &.tablet-version {
    margin-top: 0%;
    height: 100%;
    width: 90%;
    margin: 0 5% 0 5%;
  }

  @include respond(desktop) {
    margin-top: 0;
    height: 70%;
    width: 70%;
  }

  &--inner-container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
}

.carouselPage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $background;
  display: grid;
  grid-template-areas: "flag content";
  grid-template-columns: 20% 80%;

  &__flag {
    grid-area: flag;
    $n: random(5);
    background-color: nth($colors, $n);
    @include center-flex;

    & > h1 {
      display: block;
      transform: rotate(-90deg);
      white-space: nowrap;
      font-size: 4rem;
      margin: 0;
      color: white;
      line-height: 1;
    }
  }

  &__content {
    grid-area: content;
    display: grid;
    grid-template-areas:
      "header"
      "description";
    grid-template-rows: 35% 65%;

    @include respond(desktop) {
      grid-template-rows: 30% 70%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.5rem 0 0 1.5rem;

    @include respond(desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0.5rem;

      @include respond(desktop) {
        align-items: center;
      }

      & p {
        margin: 0;
        padding: 0;
      }

      & p:nth-child(1) {
        font-size: 2rem;
        line-height: 2rem;
      }

      & p:nth-child(2) {
        font-size: 1.2rem;
      }
    }
  }

  &__main {
    padding: 2rem;
    font-size: 1.2rem;
  }
}

/////////////////////////////
///////// CAROUSEL ANIMATIONS
/////////////////////////////

.carousel--inner-container.next .node {
  &-enter {
    transform: translateX(100%);

    &-active {
      transform: translateX(0);
      transition: transform 1000ms ease-in-out;
    }
  }

  &-exit {
    transform: translateX(0);

    &-active {
      transform: translateX(-100%);
      transition: transform 1000ms ease-in-out;
    }
  }
}

.carousel--inner-container.previous .node {
  &-enter {
    transform: translateX(-100%);

    &-active {
      transform: translateX(0);
      transition: transform 1000ms ease;
    }
  }

  &-exit {
    transform: translateX(0);

    &-active {
      transform: translateX(100%);
      transition: transform 1000ms ease;
    }
  }
}
