$height: 100vh;
$base: 100vw;

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

[class*="cube"] {
  position: absolute;
}

.cube {
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transition: transform 1.8s cubic-bezier(0.94, -0.6, 0.45, 1.31) 0.6s;

  &--side {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: -0.5 * $height (-0.5 * $base);
    width: $base;
    height: $height;
    // backface-visibility: hidden;

    box-shadow: 0 0 0 2px;
    background: white;

    &__5,
    &__6 {
      margin-top: -0.5 * $base;
      height: $base;
    }

    @for $i from 0 to 6 {
      &__#{$i + 1} {
        transform: if($i < 4, rotateY($i * 90deg), rotateX(pow(-1, $i) * 90deg))
          translateZ(0.5 * if($i < 4, $base, $height));
      }
    }

    &-placeholder {
      font-size: 400%;
    }
  }
}
